//font
@font-face {
  font-family: 'Montserrat Bold';
  src: url('../../fonts/Montserrat/Montserrat-Bold.woff2') format('woff2'),
  url('../../fonts/Montserrat/Montserrat-Bold.woff') format('woff'),
  url('../../fonts/Montserrat/Montserrat-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'MontserratMedium';
  src: url('../../fonts/Montserrat-Medium/Montserrat-Medium.woff2') format('woff2'),
  url('../../fonts/Montserrat-Medium/Montserrat-Medium.woff') format('woff'),
  url('../../fonts/Montserrat-Medium/Montserrat-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

//////

a:hover {
  text-decoration: none;
}

//header
.main {
  position: relative;
  font: 11px 'Montserrat Bold';

  .container-fluid.wrapper {
    margin-bottom: 10px;

    .header {
      display: flex;
      justify-content: space-between;
      padding: 30px 120px;

      .wr-logo {

        a.logo-link {
          display: block;
          padding: 4px;
        }
      }
      nav.wr-nav {

        .my-mob-btn {

          span.icon-bar {
            background: #df8a00;
          }
        }

        ul {
          display: flex;
          padding: 0;
          margin: 0;

          li {
            list-style: none;
            line-height: 45px;
            margin: 0 15px;

            a {
              position: relative;
              padding: 13px;
              text-decoration: none;
              font: 16px 'Montserrat Bold';
              font-weight: bold;
              color: #000000;

              &:before {
                content: '';
                position: absolute;
                bottom: 9px;
                left: 50%;
                transform: translateX(-50%);
                width: 47px;
                height: 3px;
                background: #3535ff;
                opacity: 0;
                transition: all .3s;
              }
              &:hover:before {
                opacity: 1;
              }
              &.active:before {
                opacity: 1;
              }
              &:hover {
                background: transparent;
              }
            }
          }
        }
      }
      .wr-phone {
        overflow: hidden;
        a {
          position: relative;
          font-size: 20px;
          color: #000;
          padding: 8px 13px;
          border: 3px solid #262626;
          border-bottom: none;
          transition: all .3s ease;
          &:before {
            position: absolute;
            content: "";
            left: -40px;
            bottom: 0;
            width: 100%;
            height: 3px;
            background: #262626;
            transition: all .3s ease;
          }
          &:hover {
            border-color: transparent;
          }
          &:hover:before {
            opacity: 0;
          }
        }
      }
    }
  }
  //hover eff
  $thick: 3px;
  $pad: 0.7em;
  $extra: calc(#{$pad} * 1.2);
  $color: #262626;

  .portfolio-experiment {

    a {
      color: white;
      padding: $pad $extra;
      display: inline-block;
      border: $thick solid transparent;
      position: relative;
      cursor: pointer;
    }

    .line {
      position: absolute;
      background: $color;

      &.-right,
      &.-left {
        width: $thick;
        bottom: 0;
        top: -$thick;
        transform: scale3d(1, 0, 1);
      }

      &.-top,
      &.-bottom {
        height: $thick;
        left: -$thick;
        right: -$thick;
        transform: scale3d(0, 1, 1);
      }

      &.-right {
        right: -$thick;
        transition: transform 0.1s cubic-bezier(1, 0, .65, 1.01) 0.23s;
        transform-origin: top;
      }

      &.-top {
        top: -$thick;
        transition: transform 0.08s linear 0.43s;
        transform-origin: left;
      }

      &.-left {
        left: -$thick;
        transition: transform 0.08s linear 0.51s;
        transform-origin: bottom;
      }

      &.-bottom {
        bottom: 0;
        transition: transform 0.3s cubic-bezier(1, 0, .65, 1.01);
        transform-origin: right;
      }
    }

    a:hover,
    a:active {

      .text {
        transform: translate3d(0, 0, 0);
        transition: transform 0.6s cubic-bezier(.2, 0, 0, 1) 0.4s;
      }

      &:after {
        transform: scale3d(0, 1, 1);
        right: -$thick;
        left: -$thick;
        transform-origin: right;
        transition: transform 0.2s cubic-bezier(1, 0, .65, 1.01) 0.17s,
        right 0.2s cubic-bezier(1, 0, .65, 1.01),
        left 0s 0.3s;
      }

      .line {
        transform: scale3d(1, 1, 1);

        &.-right {
          transition: transform 0.1s cubic-bezier(1, 0, .65, 1.01) 0.2s;
          transform-origin: bottom;
        }

        &.-top {
          transition: transform 0.08s linear 0.4s;
          transform-origin: right;
        }

        &.-left {
          transition: transform 0.08s linear 0.48s;
          transform-origin: top;
        }

        &.-bottom {
          transition: transform 0.5s cubic-bezier(0, .53, .29, 1) 0.56s;
          transform-origin: left;
        }
      }
    }
  }

  ////////
  section.box-cen {
    max-width: 1100px;
    margin: 0 auto;
    padding-top: 10px;

    img.img-logo {
      display: block;
      width: 100%;
      margin-bottom: 28px;
      padding: 0 50px;
      transition: all .3s ease;
      &:hover {
        transform:scale(1.1);
      }
    }
    h1 {
      font: 33px 'MontserratMedium';
      color: #000000;
      display: block;
      margin-bottom: 150px;
    }
    .box-paragraph {
      margin-bottom: 124px;
      h2 {
        margin-top: 0;
        color: #010101;
        margin-bottom: 38px;
        font: 47px 'Montserrat Bold';
      }
      p {
        letter-spacing: 0.9px;
        font: 22px 'MontserratMedium';
      }
    }
  }
  ////////
  .about-us {
    max-width: 1100px;
    margin: 0 auto 117px;
    position: relative;
    overflow: hidden;
    font-size: 0;

    h3 {
      margin-bottom: 70px;
      font-size: 47px;
      color: #010101;
    }

    .box {
      display: inline-block;
      max-width: 300px;
      max-height: 240px;
      vertical-align: top;
      margin: 0 30px;
      transition: all .3s;

      .wr-img {
        height: 82px;
        margin-bottom: 27px;
        transition: all .3s;
      }
      span {
        font-size: 24px;
        color: #000000;
        font-family: 'MontserratMedium', sans-serif;
        a {
          color: inherit;
          text-decoration: underline;
        }
      }
    }
  }
  ////////
  .box-t-principles {
    width: 100%;
    margin: 0 auto;
    padding-bottom: 50px;
    position: relative;
    overflow: hidden;

    h4 {
      font: 47px 'Montserrat Bold';
      color: #010101;
      margin-top: 0;
      margin-bottom: 35px;
    }
    .wrapper-box {
      z-index: -2;
      display: flex;
      justify-content: center;
      .wr-princi.b-1, .wr-princi.b-2 {
        z-index: 0;
        .cont-img {
          overflow: visible;
          img{
            position: relative;
          }
          & i{
            position: absolute;

            height: 11px;
            right: 0;
            left: 0;
            background: #fff;
          }
          &:hover img{

          }
        }
      }
      .wr-princi {
        display: inline-block;
        max-width: 450px;
        vertical-align: top;
        z-index: 1;

        .cont-img {
          display: flex;
          justify-content: center;
          transform: skew(20deg, 0) ;
          overflow: hidden;
          max-height: 630px;
          margin: 0 -30px;


          &:hover img{
            transition: all .2s;
            z-index: 11;
            transform: skew(-20deg, 0) perspective(500px) translateZ(30px);
          }
          img {
            transition: all .3s;
            transform: skew(-20deg, 0);
          }
        }
        .princi-description {
          padding: 45px 50px;

          h4 {
            font: 28px 'Montserrat Bold';
            color: #010101;
            margin-top: 0;
            margin-bottom: 40px;
          }
          p {
            font: 22px 'MontserratMedium';
            color: #000000;
          }
        }
      }
    }
  }
  .wr-princi {
    display: inline-block;
    width: 24.5%;
    vertical-align: top;

    .cont-img {
      display: flex;
      justify-content: center;
      overflow: hidden;
      max-height: 690px;
      margin: 0 -30px;
      transition: all .3s;
    }
  }
  /////////
  h5 {
    font-size: 47px;
    color: #010101;
    font-weight: bold;
    margin-bottom: 35px;
  }
  .join-bg {
    position: relative;
    background: url("../img/bpx-1i.png") center no-repeat,
    url("../img/bpx-2i.png") right,
    url("../img/bpx-2i.png") left,
    url("../img/bpx-2i.png") bottom,
    url("../img/bpx-2i.png") center;
    background-size: cover;
    height: 550px;
    margin-bottom: 130px;
    overflow: hidden;
    &:after {
      position: absolute;
      content: url("../img/adb10.png");
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: -1;
    }
    &:before {
      position: absolute;
      content: '';
      background: url("../img/bg-join1.png");
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      z-index: -2;
    }

    .content {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      max-width: 1300px;
      min-width: 1000px;

      strong {
        font: 18px 'MontserratMedium';
        color: #3a3232;
        display: block;
        margin-bottom: 56px;
      }
      a {
        display: inline-block;
        padding: 25px 67px;
        border-radius: 10px;
        color: #ffffff;
        font: 22px "Montserrat Bold";
        background: #3535ff;
      }
    }
  }
  ////////
  h4.lain-v {
    position: relative;
    &:after {
      position: absolute;
      content: "";
      left: 0;
      bottom: -16px;
      width: 100px;
      height: 3px;
      background: #f7971c;
    }
  }
  ///////
  .wr-serv {
    max-width: 1400px;
    margin: 0 auto 142px;
    position: relative;
    overflow: hidden;

    .bg-9 {
      left: 50%;
      top: 810px;
    }

    .bg-229 {
      width: 40px;
      height: 40px;
      left: 10%;
      top: 310px;
      background: url(../img/bg-12.png) center no-repeat;
    }
    .bg-11 {
      top: 1500px;
      left: 70%;
    }
    .bg-8 {
      top: 725px;
    }
    .bg-6 {
      top: 1035px;
    }
    .caption {
      margin: 0 auto 80px;
      max-width: 850px;
      h5 {
        font: 47px "Montserrat Bold";
        color: #010101;
        margin-bottom: 40px;
      }
    }
    .serv-content {

      .box {

        .container-img {
          max-width: 500px;
          img {
            width: 100%;
            margin-bottom: 15px;
          }
        }
        h4 {
          margin-bottom: 42px;
          font: 28px "Montserrat Bold";
        }
        p {
          font: 20px 'MontserratMedium';
          color: #000000;
          a {
            color: inherit;
            display: inline-block;
            text-decoration: underline;
          }
        }
      }
    }
  }
  ///////
  .wr-map {
    width: 100%;

    h5 {
      margin-bottom: 51px;
    }
    .box-map {
      background: #dbdad7;
    }
  }
  .form {
    padding-top: 210px;
    position: relative;
    overflow: hidden;

    .bg-4 {
      top: 1075px;
      left: 462px;
    }
    .bg-6 {
      top: 783px;
      right: 215px;
    }
    .bg-9 {
      top: 812px;
      left: 796px;
    }
    .bg-09 {
      z-index: -1;
      &:after {
        content: url("../img/bpx-2i.png");

      }
    }
    .bafore {
      position: absolute;
      top: 450px;
      left: -230px;
      &:before {
        display: block;
        content: url("../img/bg-max.png");
      }
    }
    .after {
      position: absolute;
      bottom: -325px;
      right: -230px;
      &:after {
        display: block;
        content: url("../img/bg-max.png");
      }
    }

    form {
      max-width: 1500px;
      margin: 0 auto;
      padding: 45px 0 75px 0;

      input {
        border: none;
        border-radius: 0;
        color: #a9a9a9;
        border-bottom: 1px solid #000000;
        outline: none;
        box-shadow: none;
        height: auto;
        font: 22px 'MontserratMedium';
        margin-bottom: 55px;
        padding: 11px 7px;
        background: transparent;
      }
      input:focus {
        box-shadow: none;
      }
      ::-webkit-input-placeholder { /* Chrome */
        color: #cecece;
      }
      :-ms-input-placeholder { /* IE 10+ */
        color: #cecece;
      }
      ::-moz-placeholder { /* Firefox 19+ */
        color: #cecece;
      }
      :-moz-placeholder { /* Firefox 4 - 18 */
        color: #cecece;
      }
    }
    button {
      background: #3535ff;
      color: #ffffff;
      padding: 24px 85px;
      border-radius: 10px;
      font: 22px 'Montserrat Bold';
    }
  }
  .join-bg.two {

    .content {
      h5 {
        font: 92px "Montserrat Bold";
        color: #000000;
        margin-bottom: 10px;
      }
      strong {
        font: 28px 'MontserratMedium';
        margin-bottom: 10px;
      }
      span {
        font: 40px 'MontserratMedium';
        letter-spacing: -0.5px;
        display: block;
        margin-bottom: 60px;
      }
      .anim-lov {
        span {
          font-size: 40px;
        }
        span.love {
          display: block;
        }
      }
      #counter-p {
        position: absolute;
        color: #ffffff;
        font-size: 33px;
        font-family: 'MontserratMedium', sans-serif;
        left: 50%;
        transform: translateX(-50%);
        top: 65%;
        bottom: -40;
        transition: all .3s ease;
        opacity: 0;
        &.intro {
          opacity: 1;
        }
      }
      div#counter {
        user-select: none;
        cursor: pointer;
        width: 192px;
        height: 188px;
        position: relative;
        margin: 0 auto;
        span.love {

          &:before {
            position: absolute;
            top: 0;
            left: 0;
            content: url("../img/kav.png");
          }
        }
      }
      .anim-lov {
        animation-name: example;
        animation-duration: 2s;
        animation-iteration-count: infinite;
      }
      @keyframes example {
        from {
          transform: perspective(500px) translateZ(30px);
        }
        to {
          transform: perspective(500px) translateZ(0);
        }
      }
    }
  }
  .wrapper.over-n {
    max-width: 1660px;
    margin: 0 auto;

    h6 {
      max-width: 1365px;
      margin: 0 auto 100px;
      font: 34px 'MontserratMedium';
    }
    .galery {
      margin-bottom: 160px;
      width: 100%;
      padding: 0 20px;
      display: flex;
      justify-content: space-between;
      .wr-photo {
        max-width: 400px;
        margin: 0 10px;

        .photo {
          margin: 0 auto;
          display: flex;
          justify-content: center;
          align-items: center;
          img {
            width: 100%;
          }
        }
      }
    }
  }
  .wrapper {

    .box-inf {
      margin-bottom: 90px;
      div {
        ul {
          li {
            list-style: none;
            padding-left: 5px;
            font: 16px 'MontserratMedium';
            color: #cecccc;
            margin-bottom: 6px;

            span {
              font-size: 18px;
              color: #000000;
              font-weight: bold;
            }
          }
          li:first-child {
            padding-left: 0;
            margin-bottom: 25px;
          }
        }
      }
      span.span-h {
        font-size: 22px;
        color: #000000;
        font-weight: bold;
        display: block;
        margin-bottom: 68px;
      }
      form {
        height: 56px;
        display: flex;
        input {
          font: 18px 'MontserratMedium';
          border: none;
          border-bottom: 1px solid #000000;
          width: 70%;
          display: inline-block;
          height: 100%;
          box-shadow: none;
          border-radius: 0;
        }
        button {
          color: #000000;
          padding: 0;
          background: transparent;
          font-size: 18px;
          border-radius: 0;
          border: 1px solid #000000;
          border-top-right-radius: 15px;
          border-bottom-right-radius: 15px;
          width: 29.5%;
          height: 100%;
          outline: none;
          vertical-align: top;
        }
      }
    }
  }
  footer {
    position: relative;
    overflow: hidden;
    .icon-bar {

      div.col-lg-4 {
        height: 44px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;

        .wr-soc {
          display: flex;
          color: #fff;

          &:after {
            position: absolute;
            content: "";
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
          }
          img {
            margin-right: 7px;
          }
          .cont {

            strong {
              font-size: 8px;
              display: block;
              margin-bottom: 3px;
            }
            span {
              font-size: 8px;
              padding: 4px 10px;
              border-radius: 5px;
            }
          }
        }
      }
      div.col-lg-4:first-child {
        background: #4b9cda;

        .wr-soc {

          .cont {
            span {
              background: #346d98;
            }
          }
        }
      }
      div.col-lg-4:nth-child(2n) {
        background: #3b5998;

        .wr-soc {

          .cont {
            span {
              background: #293e6a;
            }
          }
        }
      }
      div.col-lg-4:nth-child(3n) {
        background: #d42250;

        .wr-soc {

          .cont {
            span {
              background: #be095a;
            }
          }
        }
      }
    }
  }
}

//parallax
.box-video {
  position: relative;
  margin-bottom: 42px;
  .wrapper-video {
    border-radius: 30px;
    overflow: hidden;
    max-width: 800px;
    margin: 0 auto;
  }
}

.scene {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  overflow: hidden;
  z-index: -1;
}

i.parallax {
  position: absolute;
  z-index: -5;
}

.bg-1 {
  width: 160px;
  height: 160px;
  top: 70px;
  left: -40px;
  background: url("../img/bg-blu.png") center no-repeat;
}

.bg-2 {
  width: 231px;
  height: 228px;
  top: 70px;
  right: -40px;
  background: url("../img/bg-roz.png") center no-repeat;
}

.bg-3 {
  width: 329px;
  height: 329px;
  top: -126px;
  left: -150px;
  background: url("../img/bg-max.png") center no-repeat;
}

.bg-4 {
  width: 35px;
  height: 35px;
  top: 415px;
  left: 495px;
  background: url("../img/bg-tr.png") center no-repeat;
}

.bg-5 {
  width: 35px;
  height: 35px;
  top: 430px;
  right: 400px;
  background: url("../img/bg-bl-s.png") center no-repeat;
}

.bg-6 {
  width: 35px;
  height: 35px;
  top: 135px;
  right: 215px;
  background: url("../img/bg-or.png") center no-repeat;
}

.bg-7 {
  width: 160px;
  height: 160px;
  top: 15px;
  right: -120px;
  background: url("../img/bg-blu.png") center no-repeat;
}

.bg-3, .bg-7 {
  z-index: -1;
}

.bg-8 {
  width: 25px;
  height: 49px;
  top: 325px;
  right: 160px;
  background: url("../img/bg-8.png") center no-repeat;
}

.bg-9 {
  width: 40px;
  height: 40px;
  top: 110px;
  left: 500px;
  background: url("../img/bg-12.png") center no-repeat;
}

.bg-10, .bg-12, .bg-13 {
  width: 4px;
  height: 4px;
  top: 190px;
  left: 240px;
  background: url("../img/bg-11.png") center no-repeat;
}

.bg-11 {
  width: 40px;
  height: 40px;
  top: 290px;
  left: 190px;
  background: url("../img/bg-13.png") center no-repeat;
}

.bg-12 {
  top: 590px;
  left: 240px;
}

.bg-13 {
  top: 560px;
  left: 50%;
}

.bg-14 {
  width: 4px;
  height: 4px;
  top: 290px;
  right: 190px;
  background: url("../img/bg-9.png") center no-repeat;
}

.bg-15 {
  width: 4px;
  height: 4px;
  top: 290px;
  left: 390px;
  background: url("../img/bg-9.png") center no-repeat;
}

.bg-16 {
  width: 4px;
  height: 4px;
  top: 400px;
  left: 290px;
  background: url("../img/bg-11.png") center no-repeat;
}

.bg-17 {
  width: 4px;
  height: 4px;
  top: 200px;
  left: 50%;
  background: url("../img/bg-11.png") center no-repeat;
}

.bg-18 {
  width: 4px;
  height: 4px;
  top: 300px;
  right: 40%;
  background: url("../img/bg-10.png") center no-repeat;
}

.bg-19 {
  width: 4px;
  height: 4px;
  top: 500px;
  right: 30%;
  background: url("../img/bg-11.png") center no-repeat;
}

.bg-20 {
  width: 4px;
  height: 4px;
  top: 300px;
  right: 10%;
  background: url("../img/bg-11.png") center no-repeat;
}

.bg-21 {
  width: 50px;
  height: 50px;
  bottom: -100px;
  left: -50px;
  background: url("../img/bg-12.png") center no-repeat;
}

//footer parallax
.bg-09 {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -2;
  &:before {
    content: url(../img/bpx-2i.png);

  }
}

.over-box {
  overflow: hidden
}

//slider
.slick-slide.slick-active {
  .cont-img {
    max-height: 300px;

    img {
      width: 100%;
    }
  }
}

@media only screen and(max-width: 1300px) {
  .main .container-fluid.wrapper .header{
    padding: 30px 50px;
  }
}
@media only screen and(max-width: 1200px) {
  .main .container-fluid.wrapper .header nav.wr-nav ul li {
    margin: 0 5px;
  }
  .main .wrapper .box-inf form button {
    font-size: 100%;
  }
  .main .box-t-principles .wrapper-box .wr-princi .princi-description {
    padding: 35px 5px;
  }
}
@media only screen and(max-width: 1024px) {
  .main .container-fluid.wrapper .header{
    padding: 30px 0;
  }
  .main .container-fluid.wrapper .header .wr-phone a{
    margin-right: 35px;
  }
  .bg-4{
    top: 512px;
  }
  .bg-5{
    top: 545px;
  }
  .main .wr-serv .bg-9{
    left: 44%;
  }
  .main .wr-serv .bg-11{
    left: 47%;
  }
}
@media only screen and(max-width: 980px) {
  .main .container-fluid.wrapper .header nav.wr-nav ul li a {
    padding: 5px;
  }
  .main .container-fluid.wrapper .header nav.wr-nav ul {
    margin-top: 10px;
  }
  .main .container-fluid.wrapper .header nav.wr-nav ul li a:before {
    bottom: 0;
  }
  .main .container-fluid.wrapper .header .wr-phone a {
    font-size: 13px;
    padding: 7px 10px;
  }
  .main .container-fluid.wrapper .header .wr-phone {
    padding-right: 50px;
  }
  .main .container-fluid.wrapper .header nav.wr-nav ul{
    margin-top: 0;
  }
  .box-inf>div{
    float: none;
    margin: 0 auto 40px;
    max-width: 70%;
    text-align: center;
  }
  .main .form button {
    padding: 16px 50px;
    position: absolute;
    z-index: 1;
    left: 50%;
    bottom: -160px;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
  }
  .main .wr-serv .serv-content .box {
    float: none;
    margin: 0 auto 100px;
  }
  .main .join-bg.two .content h5{
    font-size: 80px;
  }
  .main .join-bg.two .content span{
    font-size: 30px;
  }
  .main .join-bg.two .content strong{
    font-size: 22px;
  }
  .main .join-bg .content{
    min-width: 390px;
  }
  .main h5,.main h6,.main h4,.main h3,.main h2,.main h5,.main h1,.main .wr-serv .caption h5{
    font-size: 30px;
  }
}

@media screen and (min-device-width: 768px) {
  .center.wrapper-box.slick-initialized.slick-slider {
    display: none;
  }
}

@media only screen and(max-width: 768px) {
  .main .box-t-principles {
    display: none;
  }
  .main .box-t-principles .wrapper-box .wr-princi.b-none {
    display: none;
  }
  .slick-next.slick-arrow {
    display: none;
  }
  .main .container-fluid.wrapper .header nav.wr-nav ul {
    display: block;
  }
  .wr-logo {
    width: 20%;
  }
  .wr-nav.navbar {
    width: 80%;
  }
  .main .container-fluid.wrapper .header nav.wr-nav .my-mob-btn {
    margin-top: 2px;
  }
  .main .container-fluid.wrapper .header nav.wr-nav ul li {
    text-align: center;
  }
  .main .container-fluid.wrapper .header nav.wr-nav ul li a {
    display: inline-block;
  }
  .main .about-us .box {
    margin-bottom: 15px;
  }
  .main .form button {
    padding: 16px 50px;
    position: absolute;
    z-index: 1;
    left: 50%;
    bottom: -160px;
    transform: translateX(-50%);
  }
  .main .box-t-principles .wrapper-box {
    display: block;
  }
  .main .box-t-principles .wrapper-box .wr-princi .cont-img {
    transform: skew(0deg, 0) scale(.9);
  }
  .main .box-t-principles .wrapper-box .wr-princi .cont-img img {
    transform: skew(0deg, 0);
  }
  .main .box-t-principles .wrapper-box .wr-princi .cont-img:hover {
    transform: skew(0deg, 0);
    img {
      transform: skew(0deg, 0) scale(1);
    }
  }
  .main .box-t-principles .wrapper-box .wr-princi {
    width: 33%;
  }
  .main .wr-princi {
    width: 100%;
  }
  .wr-princi {
    width: 100%;
  }
  .main .wr-princi .cont-img {
    max-height: 400px;
    img {
      width: 100%;
    }
  }
  .slick-slide.slick-current.slick-active.slick-center {
    transition: all .3s;
    transform: perspective(500px) translateZ(50px);
  }
  .slick-slide {
    padding: 33px;
  }
  .slick-list {
    width: 100%;
    margin: 0 -8px;
  }
  .slick-track {
    padding: 0 12px;
  }
  .main h4.lain-v:after {
    bottom: -7px;
  }
  .princi-description p {
    font-size: 13px;
  }
  .main .wr-serv .serv-content .box {
    float: none;
    margin: 0 auto 100px;
  }
  .main .wr-serv .serv-content .box .container-img img {
    text-align: center;
  }
  .slick-next {
    right: 25px;
  }
  .slick-prev {
    left: 25px;
    z-index: 1;
  }
  .slick-prev, .slick-next {
    width: 50px;
    height: 50px;
  }
  .slick-prev:before, .slick-next:before {
    font-size: 50px;
  }
  .parallax {
    z-index: -1;
  }
  .main .wr-serv .bg-229 {
    left: -3%;
  }
  .bg-8 {
    right: 50px;
  }
  .main .wr-serv .bg-9 {
    left: 85%;
  }
  .box-inf {

    > div {
      margin-bottom: 30px;
    }
  }
  .main .wrapper .box-inf div ul li span, .main .wrapper .box-inf span.span-h {
    font-size: 25px;
  }
  .main .wrapper .box-inf div ul li {
    font-size: 20px;
  }
  .main .wrapper .box-inf div:last-child {
    padding-left: 40px;
    margin: 0 auto;
  }
  .main .wrapper .box-inf form input {
    width: 56%;
  }
  .main .wrapper .box-inf form button {
    width: 43%;
  }
  .main .container-fluid.wrapper .header .wr-phone {
    position: absolute;
    left: 23px;
    top: 85px;
  }
  .main .container-fluid.wrapper .header .wr-phone {
    padding: 0;
  }
  .main .container-fluid.wrapper .header nav.wr-nav ul {
    margin-top: 84px;
  }
  .main .wrapper .box-inf form button {
    font-size: 20px;
    width: 35%;
  }
}

@media only screen and(max-width: 600px) {
  .main .wr-princi .cont-img {
    max-height: 280px;
  }
  .main .wr-serv .serv-content .box .container-img img {
    margin-left: 0;
  }
  .main .form button {
    padding: 14px 25px;
    font-size: 14px;
  }
  .main .wrapper.over-n .galery {
    display: block;
    .wr-photo {
      margin: 0 auto 80px;
    }
  }
  .main .join-bg .content a {
    padding: 17px 35px;
  }
  .main .wrapper .box-inf div:last-child {
    margin: 0 auto;
    max-width: 100%;
  }
  .main .wrapper .box-inf form button {
    font-size: 18px;
    width: 43%;
  }
}

@media only screen and(max-width: 400px) {
  .main h5 {
    font-size: 24px;
  }
  .main .join-bg.two .content h5 {
    font-size: 60px;
  }
  .box-inf ul {
    margin: 0 auto;
    max-width: 265px;
  }
  .box-inf ul{
    padding: 0;
  }
  .box-inf>div{
    max-width: 100%;
  }
  .main .join-bg .content{
    min-width: 100%;
    strong{
      font-size: 14px;
      padding: 0 20px;
    }
  }
  strong{
    font-size: 15px
  }
}

//safari
@media screen and (-webkit-min-device-pixel-ratio: 0) {

  /* Safari only override */
  ::i-block-chrome, body {

    .main .box-t-principles .wrapper-box .wr-princi .cont-img img {
      -webkit-transform: skew(-20deg, 0) translateX(-50%);
    }
  }

}

